* {
    font-family: Arial, sans-serif;
    margin: 48px 48px;
    font-size: medium;
}

.main-heading {
    color: #FF5F70;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

ul {
    min-height: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: aquamarine;
    background-color: #7FFFD4;
    border-radius: 30px;
    box-sizing: border-box;
    flex-direction: row;
    padding: 4px;
}

a {
   text-decoration: none;
   color: rgb(37, 37, 37);
   font-size: 24px;
} {
   text-decoration: none;
   color: rgb(37, 37, 37);
   font-size: 24px;
}