* {
    font-family: Arial, sans-serif;
    margin: 48px 48px;
    font-size: medium;
}

.main-heading {
    color: #FF5F70;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

ul {
    min-height: 0;
    width: fit-content;
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: aquamarine;
    border-radius: 30px;
    box-sizing: border-box;
    flex-direction: row;
    padding: 4px;

a {
   text-decoration: none;
   color: rgb(37, 37, 37);
   font-size: 24px;
}

a.:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}