* {
    font-family: Arial, sans-serif;
    margin: 48px 48px;
    font-size: medium;
}

.main-heading {
    color: #FF5F70;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 16px;
    justify-content: center;
    display: flex;
}

a {
   text-decoration: none;
   color: rgb(37, 37, 37);
}